aiohttp @ file:///build/aiohttp-3.7.4.post0/dist/aiohttp-3.7.4.post0-cp39-cp39-linux_x86_64.whl
aiohttp-cors @ file:///build/aiohttp-cors-0.7.0/dist/aiohttp_cors-0.7.0-py3-none-any.whl
anyio @ file:///build/source/dist/anyio-0.0.0-py3-none-any.whl
appdirs @ file:///build/appdirs-1.4.4/dist/appdirs-1.4.4-py2.py3-none-any.whl
argon2-cffi @ file:///build/argon2-cffi-20.1.0/dist/argon2_cffi-20.1.0-cp39-abi3-linux_x86_64.whl
async-generator @ file:///build/async_generator-1.10/dist/async_generator-1.10-py3-none-any.whl
async-timeout @ file:///build/async-timeout-3.0.1/dist/async_timeout-3.0.1-py3-none-any.whl
atomicwrites @ file:///build/atomicwrites-1.4.0/dist/atomicwrites-1.4.0-py2.py3-none-any.whl
attrs @ file:///build/attrs-20.3.0/dist/attrs-20.3.0-py2.py3-none-any.whl
Babel @ file:///build/Babel-2.9.0/dist/Babel-2.9.0-py2.py3-none-any.whl
backcall @ file:///build/backcall-0.2.0/dist/backcall-0.2.0-py3-none-any.whl
beautifulsoup4 @ file:///build/beautifulsoup4-4.9.3/dist/beautifulsoup4-4.9.3-py3-none-any.whl
black @ file:///build/black-20.8b1/dist/black-20.8b1-py3-none-any.whl
bleach @ file:///build/bleach-3.3.0/dist/bleach-3.3.0-py2.py3-none-any.whl
Bottleneck @ file:///build/Bottleneck-1.3.2/dist/Bottleneck-1.3.2-cp39-cp39-linux_x86_64.whl
Brotli @ file:///build/source/dist/Brotli-1.0.9-cp39-cp39-linux_x86_64.whl
cchardet @ file:///build/cchardet-2.1.7/dist/cchardet-2.1.7-cp39-cp39-linux_x86_64.whl
certifi @ file:///build/source/dist/certifi-2021.5.30-py2.py3-none-any.whl
cffi @ file:///build/cffi-1.14.5/dist/cffi-1.14.5-cp39-cp39-linux_x86_64.whl
chardet @ file:///build/chardet-4.0.0/dist/chardet-4.0.0-py2.py3-none-any.whl
click @ file:///build/click-7.1.2/dist/click-7.1.2-py2.py3-none-any.whl
cycler @ file:///build/cycler-0.10.0/dist/cycler-0.10.0-py3-none-any.whl
decorator @ file:///build/decorator-4.4.2/dist/decorator-4.4.2-py2.py3-none-any.whl
defusedxml @ file:///build/defusedxml-0.7.1/dist/defusedxml-0.7.1-py2.py3-none-any.whl
docutils @ file:///build/docutils-0.16/dist/docutils-0.16-py2.py3-none-any.whl
entrypoints @ file:///build/entrypoints-0.3/dist/entrypoints-0.3-py3-none-any.whl
et-xmlfile @ file:///build/et_xmlfile-1.0.1/dist/et_xmlfile-1.0.1-py3-none-any.whl
html5lib @ file:///build/html5lib-1.1/dist/html5lib-1.1-py2.py3-none-any.whl
idna @ file:///build/idna-3.1/dist/idna-3.1-py3-none-any.whl
importlib-metadata @ file:///build/importlib_metadata-3.7.3/dist/importlib_metadata-3.7.3-py3-none-any.whl
iniconfig @ file:///build/iniconfig-1.1.1/dist/iniconfig-0.0.0-py2.py3-none-any.whl
ipykernel @ file:///build/ipykernel-5.5.0/dist/ipykernel-5.5.0-py3-none-any.whl
ipython @ file:///build/ipython-7.21.0/dist/ipython-7.21.0-py3-none-any.whl
ipython-genutils @ file:///build/ipython_genutils-0.2.0/dist/ipython_genutils-0.2.0-py2.py3-none-any.whl
ipywidgets @ file:///build/ipywidgets-7.6.3/dist/ipywidgets-7.6.3-py2.py3-none-any.whl
jdcal @ file:///build/jdcal-1.4.1/dist/jdcal-1.4.1-py2.py3-none-any.whl
jedi @ file:///build/source/dist/jedi-0.17.2-py2.py3-none-any.whl
Jinja2 @ file:///build/Jinja2-2.11.3/dist/Jinja2-2.11.3-py2.py3-none-any.whl
joblib @ file:///build/joblib-1.0.1/dist/joblib-1.0.1-py3-none-any.whl
json5 @ file:///build/source/dist/json5-0.8.5-py2.py3-none-any.whl
jsonschema @ file:///build/jsonschema-3.2.0/dist/jsonschema-3.2.0-py2.py3-none-any.whl
jupyter @ file:///build/jupyter-1.0.0/dist/jupyter-1.0.0-py2.py3-none-any.whl
jupyter-client @ file:///build/jupyter_client-6.1.12/dist/jupyter_client-6.1.12-py3-none-any.whl
jupyter-console @ file:///build/jupyter_console-6.4.0/dist/jupyter_console-6.4.0-py3-none-any.whl
jupyter-core @ file:///build/jupyter_core-4.7.1/dist/jupyter_core-4.7.1-py3-none-any.whl
jupyter-server @ file:///build/jupyter_server-1.5.0/dist/jupyter_server-1.5.0-py3-none-any.whl
jupyterlab @ file:///build/jupyterlab-3.0.14/dist/jupyterlab-3.0.14-py3-none-any.whl
jupyterlab-pygments @ file:///build/source/dist/jupyterlab_pygments-0.1.2-py2.py3-none-any.whl
jupyterlab-server @ file:///build/jupyterlab_server-2.3.0/dist/jupyterlab_server-2.3.0-py3-none-any.whl
jupyterlab-widgets @ file:///build/jupyterlab_widgets-1.0.0/dist/jupyterlab_widgets-1.0.0-py3-none-any.whl
kiwisolver @ file:///build/kiwisolver-1.3.1/dist/kiwisolver-1.3.1-cp39-cp39-linux_x86_64.whl
lxml @ file:///build/source/dist/lxml-4.6.3-cp39-cp39-linux_x86_64.whl
lz4 @ file:///build/source/dist/lz4-3.1.3-cp39-cp39-linux_x86_64.whl
MarkupSafe @ file:///build/MarkupSafe-1.1.1/dist/MarkupSafe-1.1.1-cp39-cp39-linux_x86_64.whl
matplotlib @ file:///build/matplotlib-3.4.1/dist/matplotlib-3.4.1-cp39-cp39-linux_x86_64.whl
mistune @ file:///build/mistune-0.8.4/dist/mistune-0.8.4-py2.py3-none-any.whl
mock @ file:///build/mock-4.0.3/dist/mock-4.0.3-py3-none-any.whl
more-itertools @ file:///build/more-itertools-8.7.0/dist/more_itertools-8.7.0-py3-none-any.whl
multidict @ file:///build/multidict-5.1.0/dist/multidict-5.1.0-cp39-cp39-linux_x86_64.whl
mypy-extensions @ file:///build/mypy_extensions-0.4.3/dist/mypy_extensions-0.4.3-py2.py3-none-any.whl
nbclassic @ file:///build/source/dist/nbclassic-0.2.6-py3-none-any.whl
nbclient @ file:///build/nbclient-0.5.3/dist/nbclient-0.5.3-py3-none-any.whl
nbconvert @ file:///build/nbconvert-6.0.7/dist/nbconvert-6.0.7-py3-none-any.whl
nbformat @ file:///build/nbformat-5.1.2/dist/nbformat-5.1.2-py3-none-any.whl
nest-asyncio @ file:///build/nest_asyncio-1.5.1/dist/nest_asyncio-1.5.1-py3-none-any.whl
networkx @ file:///build/networkx-2.5/dist/networkx-2.5-py3-none-any.whl
nltk @ file:///build/nltk-3.5/dist/nltk-3.5-py3-none-any.whl
notebook @ file:///build/notebook-6.3.0/dist/notebook-6.3.0-py3-none-any.whl
numexpr @ file:///build/numexpr-2.7.3/dist/numexpr-2.7.3-cp39-cp39-linux_x86_64.whl
numpy @ file:///build/numpy-1.20.2/dist/numpy-1.20.2-cp39-cp39-linux_x86_64.whl
olefile @ file:///build/olefile-0.46/dist/olefile-0.46-py2.py3-none-any.whl
openpyxl @ file:///build/openpyxl-3.0.7/dist/openpyxl-3.0.7-py3-none-any.whl
packaging @ file:///build/packaging-20.9/dist/packaging-20.9-py2.py3-none-any.whl
pandas @ file:///build/pandas-1.2.3/dist/pandas-1.2.3-cp39-cp39-linux_x86_64.whl
pandocfilters @ file:///build/pandocfilters-1.4.3/dist/pandocfilters-1.4.3-py3-none-any.whl
parso @ file:///build/parso-0.8.1/dist/parso-0.8.1-py2.py3-none-any.whl
path.py @ file:///build/path.py-12.0.1/dist/path.py-12.0.1-py3-none-any.whl
pathspec @ file:///build/pathspec-0.8.1/dist/pathspec-0.8.1-py2.py3-none-any.whl
pbr @ file:///build/pbr-5.5.1/dist/pbr-5.5.1-py2.py3-none-any.whl
pexpect @ file:///build/pexpect-4.8.0/dist/pexpect-4.8.0-py2.py3-none-any.whl
pickleshare @ file:///build/pickleshare-0.7.5/dist/pickleshare-0.7.5-py2.py3-none-any.whl
Pillow @ file:///build/Pillow-8.2.0/dist/Pillow-8.2.0-cp39-cp39-linux_x86_64.whl
pluggy @ file:///build/pluggy-0.13.1/dist/pluggy-0.13.1-py2.py3-none-any.whl
prometheus-client @ file:///build/prometheus_client-0.9.0/dist/prometheus_client-0.9.0-py2.py3-none-any.whl
prompt-toolkit @ file:///build/prompt_toolkit-3.0.18/dist/prompt_toolkit-3.0.18-py3-none-any.whl
psutil @ file:///build/psutil-5.8.0/dist/psutil-5.8.0-cp39-cp39-linux_x86_64.whl
ptyprocess @ file:///build/ptyprocess-0.7.0/dist/ptyprocess-0.7.0-py3-none-any.whl
py @ file:///build/py-1.10.0/dist/py-1.10.0-py2.py3-none-any.whl
py4j @ file:///build/py4j-0.10.9.2/dist/py4j-0.10.9.2-py2.py3-none-any.whl
pycparser @ file:///build/pycparser-2.20/dist/pycparser-2.20-py2.py3-none-any.whl
Pygments @ file:///build/Pygments-2.8.1/dist/Pygments-2.8.1-py3-none-any.whl
pyparsing @ file:///build/source/dist/pyparsing-2.4.7-py2.py3-none-any.whl
PyQt5==5.15.2
PyQt5-sip @ file:///build/PyQt5_sip-12.8.1/dist/PyQt5_sip-12.8.1-cp39-cp39-linux_x86_64.whl
pyrsistent @ file:///build/pyrsistent-0.17.3/dist/pyrsistent-0.17.3-cp39-cp39-linux_x86_64.whl
PySocks @ file:///build/PySocks-1.7.1/dist/PySocks-1.7.1-py3-none-any.whl
pyspark @ file:///build/pyspark-3.1.1/dist/pyspark-3.1.1-py2.py3-none-any.whl
pytest @ file:///build/pytest-6.2.3/dist/pytest-6.2.3-py3-none-any.whl
python-dateutil @ file:///build/python-dateutil-2.8.1/dist/python_dateutil-2.8.1-py2.py3-none-any.whl
pytz @ file:///build/pytz-2021.1/dist/pytz-2021.1-py3-none-any.whl
pyzmq @ file:///build/pyzmq-22.0.3/dist/pyzmq-22.0.3-cp39-cp39-linux_x86_64.whl
qtconsole @ file:///build/qtconsole-5.0.3/dist/qtconsole-5.0.3-py3-none-any.whl
QtPy @ file:///build/QtPy-1.9.0/dist/QtPy-1.9.0-py2.py3-none-any.whl
regex @ file:///build/regex-2021.3.17/dist/regex-2021.3.17-cp39-cp39-linux_x86_64.whl
requests @ file:///build/requests-2.25.1/dist/requests-2.25.1-py2.py3-none-any.whl
scikit-learn @ file:///build/scikit-learn-0.24.1/dist/scikit_learn-0.24.1-cp39-cp39-linux_x86_64.whl
scipy @ file:///build/scipy-1.6.1/dist/scipy-1.6.1-cp39-cp39-linux_x86_64.whl
seaborn @ file:///build/seaborn-0.11.1/dist/seaborn-0.11.1-py3-none-any.whl
Send2Trash @ file:///build/source/dist/Send2Trash-1.5.0-py3-none-any.whl
six @ file:///build/six-1.15.0/dist/six-1.15.0-py2.py3-none-any.whl
snakeviz @ file:///build/snakeviz-2.1.0/dist/snakeviz-2.1.0-py2.py3-none-any.whl
sniffio @ file:///build/sniffio-1.2.0/dist/sniffio-1.2.0-py3-none-any.whl
soupsieve @ file:///build/soupsieve-2.2.1/dist/soupsieve-2.2.1-py3-none-any.whl
SQLAlchemy @ file:///build/SQLAlchemy-1.3.23/dist/SQLAlchemy-1.3.23-cp39-cp39-linux_x86_64.whl
tables @ file:///build/tables-3.6.1/dist/tables-3.6.1-cp39-cp39-linux_x86_64.whl
terminado @ file:///build/terminado-0.9.3/dist/terminado-0.9.3-py3-none-any.whl
testpath @ file:///build/dist/testpath-0.4.4-py2.py3-none-any.whl
threadpoolctl @ file:///build/source/dist/threadpoolctl-2.1.0-py3-none-any.whl
toml @ file:///build/toml-0.10.2/dist/toml-0.10.2-py2.py3-none-any.whl
tornado @ file:///build/tornado-6.1/dist/tornado-6.1-cp39-cp39-linux_x86_64.whl
tqdm @ file:///build/tqdm-4.60.0/dist/tqdm-4.60.0-py2.py3-none-any.whl
traitlets @ file:///build/traitlets-5.0.5/dist/traitlets-5.0.5-py3-none-any.whl
typed-ast @ file:///build/source/dist/typed_ast-1.4.1-cp39-cp39-linux_x86_64.whl
typing-extensions @ file:///build/typing_extensions-3.7.4.3/dist/typing_extensions-3.7.4.3-py3-none-any.whl
urllib3 @ file:///build/urllib3-1.26.4/dist/urllib3-1.26.4-py2.py3-none-any.whl
wcwidth @ file:///build/wcwidth-0.2.5/dist/wcwidth-0.2.5-py2.py3-none-any.whl
webencodings @ file:///build/webencodings-0.5.1/dist/webencodings-0.5.1-py2.py3-none-any.whl
widgetsnbextension @ file:///build/widgetsnbextension-3.5.1/dist/widgetsnbextension-3.5.1-py2.py3-none-any.whl
xlrd @ file:///build/xlrd-2.0.1/dist/xlrd-2.0.1-py2.py3-none-any.whl
xlwt @ file:///build/xlwt-1.3.0/dist/xlwt-1.3.0-py2.py3-none-any.whl
yarl @ file:///build/yarl-1.6.3/dist/yarl-1.6.3-cp39-cp39-linux_x86_64.whl
zipp @ file:///build/zipp-3.4.1/dist/zipp-3.4.1-py3-none-any.whl
